{% extends "base.html" %}

{% block content %}
<body class="bg-secondary text-center">
    <div class="index-container text-white p-1">
        <!-- header image -->
        <div class="row justify-content-center mx-1">
            <a href="/"><img src="{{ url_for('static',filename='indexlogo.png') }}" class="img-fluid m-1" alt="..."></a>
        </div>

        <!-- introduction -->
        <main role="main" class="inner cover bg-dark mt-2 pb-2">
            <h2 class="cover-heading pt-1"><u>What is NMT Chan?</u></h1>
            <p class="pb-1"><a href="/rules">R E A D T H E R U L E S</a></p>
            I'm gonna maintain and update this until I graduate and dump it on some freshman lol
        </main>

        <!-- account -->
        <main role="main" class="inner cover bg-dark mt-2">
            <h2 class="cover-heading pt-1"><u>Account</u></h1>
            <div class="row justify-content-center">
                <button type="button" class="col-md-2 btn-sm btn-secondary m-2" onclick="location.href = '/logout'">logout</button>
                {% if level|string() == 1|string() %}
                    <button type="button" class="col-md-2 btn-sm btn-secondary m-2" onclick="location.href = '/mod/'">mod</button>
                {% endif %}
            </div>
        </main>

        <!-- announcements -->
        <main role="main" class="inner cover bg-dark mt-2">
            <h2 class="cover-heading pt-1"><u>Announcements</u></h1>
            <p class="pb-1">Silence Wench. I do not wish to be horny anymore. I just want to be happy.</p>
        </main>

        <!-- boards -->
        <main role="main" class="inner cover bg-dark mt-2">
            <h2 class="cover-heading pt-1"><u>Boards</u></h1>
            <div class="row text-left pl-2 pb-2" id="boards">
            </div>
        </main>

        <!-- overboard -->
        <main role="main" class="inner cover bg-dark mt-2">
            <h2 class="cover-heading pt-1"><u>Recent Posts</u></h1>
            <div class="row inner cover p-3" id="postContainer"></div>
        </main>
    </div>

    <script>
        $(document).ready(function() {
            // get boards
            $.getJSON("/api/v1/boards", function(resp) {
                if (resp.success == "failure") {
                    return;
                }   
                $.each(JSON.parse(resp.data), function(key, val) {
                    $("#boards").append(`
                        <div class="col-md-3 col-4 borderless">
                            <h6 class="lead font-weight-bold">${key}</h6>
                            <ul class="list-group" id="category-${key}" style="list-style-type: none;"></ul>
                        </div>
                    `);
                    $.each(val, function(index, b) {
                        console.log(key, "-->", b);
                        $("#category-" + key).append(`
                            <li>
                                <a href="${b.link}" class="text-secondary">${b.name}</a>
                            </li>
                        `);
                    });
                });
            });

            // get recent posts
            $.getJSON("/api/v1/posts?nsfw=0", function(resp) {
                if (resp.success == "failure") {
                    return;
                }
                $.each(JSON.parse(resp.data), function(index, post) {
                    $("#postContainer").append(`
                        <div class="col-md-2 border border-dark m-2 p-2" id="${post.id}">
                            <a href="/${post.board}/${post.id}">
                                <img class="img-fluid" src="${post.thumb}">
                            </a>
                            <h5>${post.subject}</h5>
                            <p style="max-height: 50px; overflow: hidden;"><small>${post.body}</small></p>
                        </div>
                    `);
                });
            });
        });
    </script>

</body>
{% endblock %}